* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: linear-gradient(
    90deg,
    rgba(48, 16, 255, 1) 0%,
    rgba(100, 115, 255, 1) 100%
  );
}
.todo-app {
  display: flex;
  flex-direction: columns;
  justify-content: center;
  width: 520px;
  min-height: 600px;
  background: repeating-linear-gradient(26deg, black, transparent 210px);
  text-align: center;
  padding-bottom: 30px;
  border-radius: 10px;
  margin: 130px auto;
}
/* .title {
  color: #fff;
  margin: 32px 0;
  font-size: 24px;
} */
.complete {
  text-decoration: line-through;
  opacity: 0.4;
}
/* .todoForm {
  margin-bottom: 30px;
} */
.todo-input {
  padding: 12px 30px 12px 12px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #5d0cff;
  outline: none;
  width: 320px;
  background: transparent;
  color: #fff;
  font-size: 18px;
}
.todo-input::placeholder {
  color: #e2e2e2;
}
.todo-button {
  font-size: 18px;
  padding: 14px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  color: #fff;
  text-transform: capitalize;
  background: linear-gradient(
    90deg,
    rgba(92, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
}
.todo-input.edit {
  border: 2px solid #149fff;
}
.todo-button.edit {
  background: linear-gradient(
    90deg,
    rgba(20, 159, 255, 1) 0%,
    rgba(17, 22, 255, 1) 100%
  );
  padding: 16px 23px;
}
.todo-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.todo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: #fff;
  background: linear-gradient(
    90deg,
    rgba(255, 118, 20, 1) 0%,
    rgba(255, 84, 17, 1) 100%
  );
  padding: 16px;
  border-radius: 5px;
  width: 100%;
  font-size: 18px;
}
.todo-row:nth-child(4n + 1) {
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
}
.todo-row:nth-child(4n + 2) {
  background: linear-gradient(
    90deg,
    rgba(255, 12, 241, 1) 0%,
    rgba(250, 0, 135, 1) 100%
  );
}
.todo-row:nth-child(4n + 3) {
  background: linear-gradient(
    90deg,
    rgba(20, 159, 255, 1) 0%,
    rgba(17, 122, 255, 1) 100%
  );
}
/* .icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
} */
/* .deleteIcon{
  margin-right: 5px;
  color: #fff;
} */
/* .editIcon {
  color: #fff;
} */
